<%= javascript_include_tag "app" %>


<div ng-app="gbg" ng-controller="ListCtrl" ng-cloak>
  <div scrolly="listNamespace.getNextPage()"></div>
  <div class="container list-container">
    <div class="banner">
      <div class="filters">
        <div class="filter">
          <div class="filter-title label">Release date</div>
          <div class="filter-subtitle">
            <select ng-model="bgFilters.filterYear">
              <option value="">any time</option>
              <option value="1">within the last year</option>
              <option value="5">within the last 5 years</option>
              <option value="10">within the last 10 years</option>
              <option value="20">within the last 20 years</option>
            </select>
          </div>
        </div>
        <hr/>
        <div class="filter" slider slider-value="bgFilters.filterAge" slider-type="single" step="1" min="0" max="17" initial="bgFilters.initials.age">
          <div class="filter-title label">Age</div>
          <div class="filter-subtitle">for ages {{sliderDisplay}}+</div>
          <div class="slider"></div>
        </div>
        <div class="filter" slider slider-value="bgFilters.filterPlayers" slider-type="single" step="1" min="1" max="10" initial="bgFilters.initials.players">
          <div class="filter-title label">Players</div>
          <div class="filter-subtitle">{{sliderDisplay < 10 && ("max " + sliderDisplay + " player" + (sliderDisplay > 1 && "s" || "")) || "any number of players"}}</div>
          <div class="slider step"></div>
        </div>
        <div class="filter" slider slider-value="bgFilters.filterTime" slider-type="single" step="15" min="30" max="240" initial="bgFilters.initials.time">
          <div class="filter-title label">Time </div>
          <div class="filter-subtitle">{{sliderDisplay < 240 && ("max " + sliderDisplay + " mins") || "any amount of time"}}</div>
          <div class="slider single"></div>
        </div>
        <hr/>
        <div class="filter">
          <div class="filter-title label">Categories</div>
          <div class="checkboxes">
            <label for="cat{{$index}}" class="checkbox-filter" ng-repeat="(c,v) in bgFilters.categories">
              <input type="checkbox" ng-model="bgFilters.categories[c].checked" id="cat{{$index}}"><label>{{c}}</label>
            </label>
          </div>
        </div>
      </div>
      <div class="arrow_box"></div>
    </div>
    <div class="bgs">

      <h1><%= image_tag "ajax-loader.gif", "ng-show" => "filtering" %></h1>
      <div class="bg" ng-repeat="bg in bgs | filter:searchText">
        <div class="bg-img">
          <a target="_blank" href="/boardgame/{{bg.id}}">
            <img ng-src="{{bg.image}}"/>
          </a>
        </div>
        <div class="bg-info">
          <div>
            <h3><a target="_blank" href="/boardgame/{{bg.id}}">{{bg.name}} ({{bg.year}})</a></h3>
            <p><span ng-bind-html-unsafe="bg.desc.substring(0,120)"></span>...</p>
            <table>
              <tr>
                <td class="title"> age </td>
                <td> {{bg.age}}+ </td>
                <td class="title"> geek score </td>
                <td> {{bg.rating}} </td>
              </tr>
              <tr>
                <td class="title"> mechanic </td>
                <td> {{bg.mechanic}} </td>
                <td class="title"> category </td>
                <td> {{bg.category}} </td>
              </tr>
              <tr>
                <td class="title"> players </td>
                <td> {{bg.minPlayers}}-{{bg.maxPlayers}} </td>
                <td class="title"> time </td>
                <td> {{bg.time}}min </td>
              </tr>
            </table>
            <a target="_blank" href="{{bg.aUrl}}" class="btn amazon-url" data-bgId="{{bg.name}}">buy for {{bg.aPrice}} <%= image_tag "Amazon-Logo.png" %></a>
          </div>
        </div>
      </div>

      <div><%= image_tag "ajax-loader.gif", "ng-show" => "filtering" %></div>
    </div>
  </div>
</div>


<script>
  mixpanel.track('BG List view');
</script>