<div class="container terms">
  <br/>
  <h2>Terms of Service</h2>
  <br/>
  <p>
    Emberyl Creative Inc, a British Columbia Corporation, including its successors and assigns, (“Emberyl”) operates an internet review, advice and comparison shopping site including embedded versions of its content on other third parties sites (collectively, the "Site"). You may only use the Site pursuant to the following terms and conditions, which you accept by your use of the Site. Use of the Site is subject to additional terms and conditions defined by our content providers and affiliate partners ("Licensors"), which you accept by your use of the Site. Emberyl, reserves the right to modify or revise these Terms of Use and/or Privacy Statement or its other policies at any time at its sole discretion. You are bound by such modifications or revisions, and should therefore you should visit this page frequently to review the terms. Your continued use of the Site following Emberyl’s posting of any changes or modifications to these Terms of Use and/or Privacy Statement will constitute your acceptance of such changes or modifications. In the event that you do not agree to any changes or modifications of these Terms of Use and/or Privacy Statement, you should not continue to use the Site.
  </p>

  <h4>MODIFICATION OF TERMS</h4>
  <p>
    Emberyl reserves the right to modify or replace any Terms of Use at any time without notice. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the services provided by Emberyl following implementation of any changes or policies,to the Terms of Use constitutes acceptance of such change or privacy. If in any case you do not agree to any revised version of the Terms of Use, please do not use this site.
  </p>

    <h4>LICENSE AND SITE ACCESS</h4>

  <p>
    Emberyl grants you a non-exclusive right and license to access and use the Site for personal, noncommercial purposes, or to purchase items from third-party merchants accessible via links on the Site. This license does not include and strictly prohibits: any resale of the Site or its contents; any collection and use of any product listings, reviews, descriptions, comparisons, content or prices other than as expressly authorized herein; any derivative use of the Site or its contents; or any use of data mining, robots, or similar data gathering and extraction tools. The Site, including its operation, interface and contents, are covered by international laws and treaties, and may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any unauthorized commercial purpose without the express prior written consent of Emberyl. Any unauthorized use shall immediately terminate the licenses and rights granted by Emberyl and any Licensors hereunder, and may subject you to civil and/or criminal prosecution. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to any page of the Site so long as the link does not portray Emberyl, its subsidiaries, affiliates, Licensors, co-brand partners and other partners or its or their respective services in a false, misleading, derogatory or otherwise offensive or damaging manner. You may not use any Emberyl, Licensor, subsidiary, affiliate, co-brand partner, or other partner logo or other proprietary graphic or trademark as part of a link to the Site without first obtaining the express written consent of Emberyl, the subsidiary, affiliate, co-brand partner or other partner or Licensor (as applicable).
  </p>
  <p>
    Emberyl does not guarantee continuous, uninterrupted or secure access to its services or the Site, and the operation of the Site may be interfered with by numerous factors outside or within Emberyl’s control.
  </p>

      <h4>THIRD PARTY SITES</h4>
  <p>
    Emberyl permits Third Party links on our platform, but we are not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites or resources. When you access third party websites, you do so at your own risk. By agreeing to the Terms, you acknowledge that Emberyl shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such website or resource.
  </p>
  <p>
    Emberyl has no control over the business practices of any third-party merchant or seller, nor does it control in any way the quality, safety or legality of any item listed on the Site or any business transaction that occurs as a result of products listed on the Site.
  </p>

  <p>
    IN THE EVENT OF A DISPUTE BETWEEN YOU AND A MERCHANT LISTED ON THE SITE, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, YOU RELEASE EMBERYL, ITS SUBSIDIARIES, AFFILIATES, CO-BRAND PARTNERS OR OTHER THIRD PARTIES UNDER CONTRACT WITH EMBERYL, AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, AND LEGAL REPRESENTATIVES FROM AND AGAINST CLAIMS AND DAMAGES OF ANY KIND, KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED, ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH A DISPUTE.
  </p>

        <h4>CONTENT</h4>
  <p>
    Emberyl provides a number of different services to assist you in deciding what product to buy including video reviews, product content, recommendations shopping for products and services on the Site. Emberyl is paid by merchants or other third parties for listing products and services on the Site and for promotions such as featured merchants, featured products and showcases.
  </p>
  <p>
    Emberyl does not sell, resell or license any of the products listed on the Site, nor is Emberyl acting as an agent of sale, and Emberyl disclaims any responsibility for, or liability related to, such products and services (see Disclaimer of Warranties and Limitation of Liability, below). Any questions, complaints or claims related to any product should be directed to the appropriate merchant or seller.
  </p>
  <p>
    Emberyl does not warrant any content, including but not limited to, reviews, comparisons, product round ups, recommendations, product descriptions, pricing and editorial commentary, on the Site, regardless of its source, is accurate, complete, reliable, current or error-free. Site content is provided for informational purposes only and does not constitute an endorsement by Emberyl of any product, merchant, seller, service, or any reviews or comments thereof regardless of the source of such review or comment. Emberyl assumes no liability for inaccuracy or incompleteness in its content, including but not limited to, reviews, product data, comparisons, round-ups, search results, editorial content and ratings (user, product, merchant etc.).
  </p>

          <h4>INDEMNITY</h4>
  <p>
    To the maximum extent permitted by applicable law, you agree to defend, indemnify and hold Emberyl, its subsidiaries, affiliates, co-brand partners, and other parties with which Emberyl is under contract, and their respective officers, directors, employees and agents free and harmless from and against any claims, actions and demands, including, without limitation, any legal and accounting fees resulting from your use of the Site and/or your breach of the Terms of Use and Privacy Statement and/or resulting from any and all content you submit to Emberyl and/or the Site. Emberyl shall provide notice to you of any such claim, suit or proceeding.
  </p>

            <h4>GOVERNING LAW</h4>
  <p>
    This Agreement shall be governed by the laws of the Province of British Columbia and the laws of Canada applicable therein.  Each party hereby submits to the non-exclusive jurisdiction of the Province of British Columbia in connection with this Agreement.
  </p>

              <h4>IP OWNERSHIP AND COPYRIGHT INFRINGEMENT</h4>
  <p>
    Emberyl disclaims any responsibility for the content of any third party materials provided through or on its Site or other services ("Third Party Content"). Emberyl will respond to notices of alleged infringement regarding Third Party Content sent pursuant to, and in accordance with the governing laws of British Columbia and Canada. All notices sent to Emberyl regarding matters other than informing Emberyl that a party's copyrighted material may have been infringed (and relating only to Third Party Content) will not receive a response through this process.
  </p>

                <h4>COPYRIGHT AND LICENSES</h4>
  <p>
    The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are Emberyl, its affiliates or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials. You agree to grant to Emberyl a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, ideas contained therein for new or improved products and services) you submit to any public areas of the Site (such as bulletin boards, forums and newsgroups) or by e-mail to Emberyl by all means and in any media now known or hereafter developed. You also grant to Emberyl the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against Emberyl for any alleged or actual infringement or misappropriation of any proprietary right in your communications to Emberyl.
  </p>

  <br/>
  <h2>privacy policy</h2>
  <br/>

                  <h4>Emberyl Creative Inc. respects your privacy</h4>
  <p>
    Any personal information you provide to us including and similar to your name, address, telephone number and e-mail address will not be released, sold, or rented to any entities or individuals outside of Emberyl.
  </p>

                    <h4>Credit Card Details</h4>
  <p>
    Emberyl will never ask for Credit Card details and request that you do not enter it on any of the forms on Getboardgame.com. Amazon processes all donations and the transaction is encrypted using SSL technology. Emberyl does not hold any credit card information. Data handled by Amazon is subjected to Amazon’s term of use and privacy policy.
  </p>

                      <h4>External Sites</h4>
  <p>
    Emberyl is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.
  </p>

                        <h4>Information Collection</h4>
  <p>
     Traffic Data: Emberyl collects traffic data when you visit our site and this includes your ip addresses, domain servers, web browsers used to access the site, and referring/exit pages. This is anonymous information and the sole purpose of us collecting this information is to improve the business and the user experience. Personal Information: In order for you to make donations through Emberyl, you have to register with the website. We will ask for your e-mail and name. If you wish to be eligible for tax receipts, you will have to provide your legal name, e-mail, phone number, and address. Nonprofit organizations will have access to your personal information in order for them to issue tax receipts. Personal Information may include but not limited to: name, e-mail address, location, address, age, gender, business name, etc
  </p>

                          <h4>Cookies</h4>
  <p>
    A "cookie" is a small data text file that is placed in your browser and allows Emberyl to recognize you each time you visit this site (customization etc). Cookies themselves do not contain any personal information, and Emberyl does not use cookies to collect personal information. Cookies may also be used by 3rd party content providers such as newsfeeds.
  </p>

                            <h4>Remember The Risks Whenever You Use The Internet</h4>
  <p>
    While we do our best to protect your personal information, we cannot guarantee the security of any information that you transmit to Emberyl. and you are solely responsible for maintaining the secrecy of any passwords or other account information. In addition, other Internet sites or services that may be accessible through Emberyl have separate data and privacy practices independent of us, and therefore we disclaim any responsibility or liability for their policies or actions. Please contact those vendors and others directly if you have any questions about their privacy policies.
  </p>
  <p>
    For any other information, please contact us at hello@emberyl.com
  </p>

</div>