/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

$w: 900px;
$p: #ca3e33;
//$p: #a9312b;
$pd: #b6372b;
$s: #333;
$sd: #667435;
$white: #fbfbfb;

@mixin bg {
  background: url(fabric_of_squares_gray.png);
}

body, button {
  font-family: "Open Sans Condensed";
}

a {
  text-decoration: none;
  color: #333;
  &:visited {
    color: #333;
  }
  &:hover {
    cursor: pointer;
    color: $p;
  }
  &.btn {
    display: inline-block;
    text-align: center;
    &:hover, &:visited {
      color: white;
    }
  }
}

p {
  @include text-shadow(0 1px 0 white);
}

body {
  padding-top: 36px;
  background-color: #fbfbfb;
  @include bg;
}

p {
  color: #666;
  font-size: 14px;
  line-height: 22px;
  font-family: "Open Sans";
}

.topbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  a {
    color: white;
  }
  .logo img {
    height: 15px;
  }
  .link {
    margin-left: 40px;
    color: #ddd;
  }
  .container {
    position: relative;
  }
}

.search-form {
  .search-input {
    position: relative;
    top: -1px;
    margin: 0;
    padding: 5px;
    height: 17px;
    width: 287px;
    @include box-shadow(inset 0 0 5px #aaa);
  }

  img {
    display: none;
    height: 20px;
    position: relative;
    right: 5px;
    top: 3px;
  }

  .formtext {
    display: none;
    margin-right: 5px;
    color: red;
  }

  button {
    border: 0;
    background-color: #ddd;
    font-weight: bold;
    padding: 5px 10px;
    height: 29px;
    font-size: 16px;
    color: #333;
    line-height: 16px;
    &:hover {
      cursor: pointer;
      background-color: #ccc;
    }
  }

  position: absolute;
  right: 0;
  top: -6px;
}

.container {
  width: $w;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

.label {

}

input {
  font-family: "Open Sans";
  color: #666;
  &[type="text"] {
    border: 1px solid #aaa;
    outline: none;
  }
}

.btn {
  background-color: $p;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border: 1px solid #ca2b1b;
  padding: 5px 0;
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
  &:hover {
    background-color: $pd;
    cursor: pointer;
  }
  &:active {
    @include box-shadow(inset 0 1px 2px rgba(0,0,0,.3));
  }
  img {
    height: 19px;
    position: relative;
    top: 1px;
    margin-left: 5px;
  }
}

.hero {
  height: 600px;
  background-image: url("bg.jpg");
  background-size: 100%;
  background-position: center;
  .container {
    padding-top: 100px;
    color: $white;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 90px;
    @include text-shadow(5px 5px 20px #111);
    .title {
      line-height: 110px;
    }
    .hero-select {
      position: relative;
      select {
        padding: 15px;
        width: 480px;
        top: 44px;
      }
      button {
        border: none;
        background-color: #eee;
        padding: 5px 15px;
        font-weight: bold;
        font-size: 30px;
        color: #333;
        &:hover {
          cursor: pointer;
          background-color: #ccc;
        }
      }
    }
  }
}

.second-hero {
  padding: 80px 0 0;
  .categories {
    display: table;
    margin-top: 75px;
  }
  .cat-link {
    position: relative;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 256px;
    height: 248px;
    color: $p;
    text-transform: uppercase;
    font-size: 28px;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
    @include transition-property(bottom);
    @include transition-duration(0.2s);
    border: 5px solid $p;
    &:active {
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,.3));
    }
    &:hover {
      cursor: pointer;
      bottom: 5px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    div {
      padding: 10px;
      .cat-img {
        text-align: center;
        img {
          margin-top: 15px;
          height: 150px;
        }
      }
    }
  }
}

.footer {
  margin-top: 75px;
  .top {
    height: 150px;
    background-color: #444;
  }
  .bottom {
    height: 50px;
    background-color: #333;
    h4 {
      color: #ddd;
      font-size: 20px;
      padding-top: 3px;
      font-weight: bold;
      padding-top: 15px;
      text-transform: uppercase;
      @include inline-block;
      margin-right: 3px;
    }
    .static {
      margin-left: 20px;
      @include inline-block;
      padding-top: 15px;
      a {
        color: #ddd;
        &:hover {
          color: $p;
        }
      }
    }
    .social {
      float: right;
      a {
        opacity: 0.9;
        img {
          height: 30px;
          position: relative;
          top: 11px;
          margin-left: 10px;
        }
        &:hover {
          opacity: 1;
        }
      }
    }

  }
}

.bg-hero {
  padding: 25px 0;
}

.header-line {
  text-transform: uppercase;
  border-bottom: 4px solid #333;
  line-height: 35px;
}

.bg {
  margin-top: 75px;
  display: table;
  &>div {
    float: left;
  }
  .bg-img {
    width: 350px;
    img {
      max-width: 100%;
      @include box-shadow(0 5px 10px #aaa);
    }
  }
  .bg-info {
    width: 550px;
    &>div {
      padding-left: 50px;
    }
    h2 {
      text-transform: uppercase;
      margin-bottom: 20px;

    }
    .about h3 {
      margin: 30px 0 15px;
    }
    p {
      font-family: "Open Sans";
      margin-bottom: 15px;
    }
    table {
      width: 100%;
      margin-bottom: 10px;
      td {
        width: 30%;
        text-transform: uppercase;
        font-weight: bold;
        color: #666;
        padding-bottom: 20px;
        &.title {
          width: 20%;
          color: $s;
        }
      }
    }
    .btn {
      font-size: 30px;
      width: 100%;
    }
  }
}

.list-container {
  .bgs {
    position: relative;
    top: -15px;
    h1 {
      margin-top: 25px;
      padding-left: 240px;
    }
    .bg {
      position: relative;
      left: 240px;
      margin-top: 55px;
      p {
        font-size: 14px;
        line-height: 20px;
      }
      h3 {
        margin-bottom: 15px;
      }
      .bg-img {
        width: 250px;
      }
      .bg-info {
        width: 410px;
        &>div {
          padding-left: 40px;
        }
      }
      table {
        font-size: 15px;
        td {
          padding-bottom: 10px;
        }
      }
      .btn {
        font-size: 25px;
      }
    }
  }
}

.banner {
  position: fixed;
  top: 36px;
  background: url(pattern.png);
  background-color: $s;
  width: 200px;
  padding-bottom: 120px;
  color: white;
  z-index: 998;
  .logo {
    padding: 15px 20px 0;
    font-size: 13px;
    img {
      width: 20px;
    }
  }
  hr {
    border: 0;
    border-top: 1px dashed #ccc;
    margin: 0;
    margin-top: 15px;
  }
  h3 {
    color: white;
    margin: 15px 0 0 20px;
  }
  .filters {
    margin: 15px 20px 0;
    input {
      &[type="text"] {
        padding: 4px 7px;
        width: 100%;
        @include box-sizing(border-box);
        @include border-radius(3px);
      }
    }
    .filter {
      margin-top: 15px;
      .checkboxes {
        .checkbox-filter {
          position: relative;
          padding: 3px;
          display: block;
          &:hover {
            background-color: $sd;
          }
          input {
            margin: 0;
          }
          label {
            color: #e6e6e6;
            font-family: "Open Sans";
            font-size: 13px;
            position: relative;
            bottom: 2px;
            margin-left: 3px;
            display: inline-block;
            width: 88%;
          }
        }
      }
      .label {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .filter-subtitle {
        color: #e6e6e6;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 100;
        text-transform: lowercase;
        letter-spacing: 0;
      }
      .slider {
        font-size: 10px;
        margin-top: 10px;
        //height: 4px;
        //.ui-slider-handle {
        //
        //  margin-top: -1px;
        //  outline: none;
        //  background: white;
        //  @include border-radius(0);
        //  &:hover {
        //    background-color: #ddd;
        //  }
        //  &.ui-state-active {
        //    background-color: #ddd;
        //  }
        //}
      }
    }
  }
}

.bg-details {
  .bg-img {
    text-align: center;
    img {
      width: 100%;
    }
  }
  .desc {
    display: table;
    margin-top: 50px;
    &>div {
      float: left;
    }
    .desc-img {
      width: 350px;
      img {
        max-width: 100%;
      }
    }
    .desc-content {
      width: 500px;
      padding-left: 50px;
      h3 {
        margin-bottom: 15px;
      }
    }
  }
}

.sub-detail {
  margin-top: 75px;
}

.disqus {
  img {
    max-width: 100%;
  }
}

.lesser-header {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 40px;
  h1, h2, h3, hr {
    float: left;
  }
  h1, h2, h3 {
    position: relative;
    padding-right: 15px;
    @include bg;
  }
  hr {
    width: 100%;
    border: 0;
    border-top: 1px dashed #aaa;
    position: absolute;
    top: 50%;
    margin: 0;
  }
}

.you-may {
  .items {
    text-align: center;
    display: table;
    .item {
      float: left;
      width: 185px;
      padding: 0 20px;
      font-weight: bold;
      div {
        font-size: 15px;
        margin-top: 10px;
        color: #333;
        text-transform: uppercase;
        a {
          color: #333;
          &:hover {
            color: $p;
          }
        }
      }
      img {
        max-width: 100%;
        @include box-shadow(0 5px 10px #aaa);
      }
      &.youtube {
        img:hover, .title:hover {
          cursor: pointer;
          color: $p;
        }
      }
    }
  }
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.arrow_box {
  position: relative;
  @include bg;
  position: absolute;
  bottom: -3px;
  left: 50%;
}
.arrow_box:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fbfbfb;
  border-width: 100px;
  left: 50%;
  margin-left: -100px;
}

.customSelect {
  font-size: 30px;
  font-weight: bold;
  border: 4px solid $white;
  padding: 6px 15px;
  @include text-shadow(none);
  background: url(arrow.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-color: #777;
}

.customSelect.customSelectHover {
  background-color: #888;
  @include box-shadow(0 0 5px #aaa);
}

.customSelect.customSelectOpen {
  background-color: #888;
  @include box-shadow(0 0 5px #aaa);
}

.modalwrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  .backwash {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: 101;
  }
  .video {
    width: 640px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    z-index: 102;
    iframe {
      @include box-shadow(0 5px 10px #aaa);
    }
    .close {
      float: right;
      margin-bottom: 10px;
      font-weight: bold;
      color: #666;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #555;
      }
    }
  }
}

.terms {
  font-family: 'Open Sans';
  p {
    line-height: 24px;
    margin-bottom: 15px;
  }
  h1, h2, h3, h4 {
    margin: 20px 0;
    font-family: "Open Sans Condensed"
  }
  h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }
}